.container {
    background-color: #FFF;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    border: 1px solid #536d88;
    border-radius: 10px;
    flex-direction: column;
    padding: 32px;
    box-shadow: 0px 0px 40px #536d88;
    gap: 12px;
    align-items: center;
    width: 300px;
}

.login-title {
    font-size: 24px;
    color: #0f132e
}

.input {
    border-radius: 20px;
    padding: 10px;
    gap: 12px;
}

.remember {
    display: flex;
    font-size: 12px;
    gap: 12px;
    align-content: flex-end;
    align-items: center;
}

.label {
    display: flex;
    align-items: center;
}

.button {
    background-color: #0f132e;
    color: #eaeaea;
    border: none;
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 20px;
    cursor: pointer;
    min-width: 150px;
    transition: background-color 0.5s, transform 0.5s;

}

button:active {
    background-color: #19274e;
    transform: scale(0.95);
}

button:hover {
    background-color: #536d88; /* Cor ao passar o mouse */
}

.link {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(2 117 255);
}