/* Layout.css */

.layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.sidebar {
  flex: 0 0 200px;
  background-color: #536d88;
  padding: 20px;
  padding-top: 60px;
  height: 100vh;
  width: 200px;
  position: fixed;
}

.sidebar a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #eaeaea;
}

.sidebar a:hover {
  background-color: #19274e;
}

.header {
  background-color: #19274e;
  padding: 20px;
  text-align: center;
  color: #eaeaea;
  display: flex;
  height: 60px;
  position: fixed;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
}

.main-content {
  flex: 1;
  background-color: #eaeaea;
  margin-left: 200px;
}

main {
  padding: 20px;
  margin-top: 60px;
}

.footer {
  background-color: #4caf50;
  padding: 10px;
  text-align: center;
  color: white;
}

.route-tab-active {
  background-color: #19274e;
}
