.estoque-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 8px;

  & .estoque-search-area {
    display: flex;
    width: 100%;
    /* margin-bottom: 20px; */
    gap: 6px;

    > .estoque-grow {
      flex-grow: 1;
    }
  }

  .estoque-modal-content-register {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0 auto;
    gap: 4px;

    .estoque-modal-header {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      position: relative;

      h4 {
        margin-right: 10px;
      }
    }

    .estoque-modal-content-register-inputs {
      display: flex;
      margin-top: 12px;
      gap: 8px;

      .w1third690 {
        width: calc(690px / 3);
      }
      .w350 {
        min-width: 200px;
        width: 33%;
        max-width: 350px;
      }
      .w710 {
        min-width: 405px;
        max-width: 710px;
      }
    }
  }

  .estoque-modal-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0 auto;

    .estoque-modal-header {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      position: relative;

      h4 {
        margin-right: 10px;
      }

      .estoque-modal-info-pay {
        position: absolute;
        right: 0px;
        top: 0px;
        display: flex;
        justify-content: space-between;

        span {
          font-weight: bold;
        }
      }
    }

    .estoque-modal-info {
      display: flex;
      flex-direction: column;

      .estoque-modal-info-price-history {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 10px;

        .estoque-modal-info-price-history-info {
          display: flex;
          justify-content: space-between;
          /* margin-top: 10px; */

          span {
            font-weight: bold;
          }
        }
      }
    }
  }

  .estoque-tabs {
    display: flex;
    margin-bottom: 20px;
    gap: 4px;
  }
}
